{
    "apiVersion": "v1",
    "kind": "ConfigMap",
    "metadata": {
        "name": "{{ name }}",
        "namespace": {{ meta.namespace }},
        "labels": {
            "app": "{{ name }}"
        }
    },
    "data": {
        "jupyter_config.py": "c.NotebookApp.token = ''; c.NotebookApp.allow_remote_access = True"
    }
}