{
    "kind": "DeploymentConfig",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{ name }}",
        "namespace": {{ meta.namespace }},
        "labels": {
            "app": "{{ name }}"
        }
    },
    "spec": {
        "strategy": {
            "type": "Recreate"
        },
        "triggers": [
            {
                "type": "ConfigChange"
            }
        ],
        "replicas": 1,
        "selector": {
            "app": "{{ name }}",
            "deploymentconfig": "{{ name }}"
        },
        "template": {
            "metadata": {
                "labels": {
                    "app": "{{ name }}",
                    "deploymentconfig": "{{ name }}"
                }
            },
            "spec": {
                "serviceAccountName": "{{ name }}",
                "volumes": [
                    {
                        "name": "data",
                        "persistentVolumeClaim": {
                            "claimName": "{{ name }}-data"
                        }
                    },
{% if openshift_auth is sameas true %}
                    {
                        "name": "proxy-tls",
                        "secret": {
                            "secretName": "{{ name }}-tls"
                        }
                    },
{% endif %}
                    {
                        "name": "jupyter-config",
                        "configMap": {
                            "name": "{{ name }}"
                        }
                    }
                ],
                "containers": [
                    {
                        "name": "notebook",
                        "image": "{{ jupyter_image }}",
                        "ports": [
                            {
                                "containerPort": 8080,
                                "protocol": "TCP"
                            },
                            {
                                "containerPort": 8081,
                                "protocol": "TCP"
                            }
                        ],
                        "resources": {
                            "limits": {
                                "memory": "{{ resources['memory'] }}",
                                "cpu": "{{ resources['cpu'] }}"
                            }
                        },
                        "volumeMounts": [
                            {
                                "name": "data",
                                "mountPath": "/opt/app-root/src"
                            },
                            {
                                "name": "jupyter-config",
                                "mountPath": "/opt/app-root/src/.jupyter/jupyter_config.py",
                                "subPath": "jupyter_config.py"
                            }
                        ],
                        "env": [
                            {
                                "name": "S3_ENDPOINT_URL",
                                "value": "{{ object_storage['endpoint'] }}"
                            },
                            {
                                "name": "AWS_SECRET_ACCESS_KEY",
                                "value": "{{ object_storage['secret_access_key'] }}"
                            },
                            {
                                "name": "AWS_ACCESS_KEY_ID",
                                "value": "{{ object_storage['access_key_id'] }}"
                            }
                        ]
                    }
{% if openshift_auth is sameas true %}
                    ,
                    {
                        "name": "oauth-proxy",
                        "image": "openshift/oauth-proxy:latest",
                        "ports": [
                            {
                                "containerPort": 8443,
                                "protocol": "TCP",
                                "name": "public"
                            }
                        ],
                        "resources": {
                            "limits": {
                                "memory": "512Mi"
                            }
                        },
                        "env": [
                        ],
                        "volumeMounts": [
                            {
                                "mountPath": "/etc/tls/private",
                                "name": "proxy-tls"
                            }
                        ],
                        "args": [
                            "--https-address=:8443",
                            "--provider=openshift",
                            "--openshift-service-account={{ name }}",
                            "--upstream=http://localhost:8080",
                            "--tls-cert=/etc/tls/private/tls.crt",
                            "--tls-key=/etc/tls/private/tls.key",
                            "--cookie-secret=24334JOI34"
                        ]
                    }
{% endif %}
                ]
            }
        }
    }
}