{
    "kind": "PersistentVolumeClaim",
    "apiVersion": "v1",
    "metadata": {
        "name": "{{ name }}-data",
        "namespace": {{ meta.namespace }},
        "annotations": {
        },
        "labels": {
            "app": "{{ name }}"
        }
    },
    "spec": {
        "accessModes": [
            "ReadWriteOnce"
        ],
        "resources": {
            "requests": {
                "storage": "{{ resources['volume_size'] }}"
            }
        }
    }
}