{
    "kind": "RoleBinding",
    "apiVersion": "v1",
    "metadata": {
    "name": "{{ name }}-edit",
    "namespace": {{ namespace }},
    "labels": {
        "app": "{{ name }}"
    }
    },
    "subjects": [
    {
        "kind": "ServiceAccount",
        "name": "{{ name }}"
    }
    ],
    "roleRef": {
        "name": "edit"
    }
}